{% extends "layout.html" %}

{% block pageTitle %}
  I need to find property information
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <p>Use this service to get information about a property in England and Wales, even if you don't own it.</p>

      <h2 class="govuk-heading-m">Free information</h2>
      <p> HM Land Registry holds records about most property or land sold in England or Wales since 1993.
      We can give you some of this information for free. </p>
      <p> You can:
        <ul class="govuk-list govuk-list--bullet">
            <li>print a copy</li>
            <li>download a copy</li>
            <li>forward a copy to an email address</li>
        </ul>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            What information can I get for free?
            </span>
        </summary>
        <div class="govuk-details__text">
          <p> You can view a summary of property information including: </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>the full address</li>
                <li>price paid history- you won't get this if it was bought before April 2000, if less than £100 was paid or stated, or if HM Land Registry have agreed not to record the price </li>
                <li>general boundaries (title extent)</li>
                <li>property price trends for the local area</li>
                <li>details of any planning applications</li>
                <li>if there are any easements- a right that the owner of one piece of land has over another piece of land </li>
                <li>if there are any restrictive covenants- contracts between two landowners: one landowner promises the other landowner not to carry out particular acts on their land </li>
            </ul>
        </div>
      </details>

      <p>We may have more information about properties you're searching for if it's been recorded in the register.</p>

      <h2 class="govuk-heading-m">Premium information</h2>
      <p>You'll need an email address and debit or credit card for premium information.</p>

      <p> We can give you a copy of the: </p>
      <ul class="govuk-list govuk-list--bullet">
          <li>title register (£3)</li>
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                What's this?
              </span>
            </summary>
            <div class="govuk-details__text">
              <p> The title register has details about the property or land. It includes: </p>
              <ul class="govuk-list govuk-list--bullet">
                <li>  the title number </li>
                <li>  who owns it </li>
                <li>  what they paid for it (properties only, if available) </li>
                <li>  any rights of way </li>
                <li>  whether a mortgage on it has been ‘discharged’, for example paid off </li>
          </details>
          <li>title plan (£3)</li>
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                What's this?
              </span>
            </summary>
            <div class="govuk-details__text">
              <p> The title plan is a map showing:</p>
              <ul class="govuk-list govuk-list--bullet">
                  <li>the property's location</li>
                  <li>the general boundaries - there’s usually no record of exact boundaries </li>
          </details>
          <li> property deeds (£3)</li>
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                What this?
              </span>
            </summary>
            <div class="govuk-details__text">
            You'll get a copy of the deeds referred to in the register. Copies of deeds can’t be used to prove ownership, for example in a court case.
          </details>
      </ul>
      <a href="02-postcode-search" role="button" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">Start now</a>

      </div>
    </div>
  </div>
{% endblock %}
