{% extends "layout.html" %}

{% block pageTitle %}
  Property information
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Property information
    </h1>
        <div class="app-flex-grid app-address-display">
            <p class="app-flex-item app-flex-grid-header">Address:</p>
            <p id="app-address-to-display" class="app-flex-item app-flex-grid-body">
            </p>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p>There's <b>1</b> property record (title) for this address.</p>

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Tenure type
                </dt>
                <dd class="govuk-summary-list__value">
                Freehold<br>
                <details class="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            What's freehold?
                        </span>
                    </summary>
                        <div class="govuk-details__text">
                            <p> You own a freehold property until you sell it, give it away or it otherwise passes to someone else.</p>
                            <p> Most houses are freehold. Most flats are leasehold. That means someone else owns the freehold for the building the flat is in.</p>
                            <p> <b> If you want to know who owns a particular flat, you probably need the leasehold instead. </b> </p>
                            <p> Houses can also be leasehold and usually are if they’re bought through a shared ownership scheme.</p>
                        </div>
                    </details>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Property type
                </dt>
                <dd class="govuk-summary-list__value  app-property-type">
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Property sold for
                </dt>
                <dd class="govuk-summary-list__value">
                <span class="app-price-paid-list">
                </span>
                <a class="app-price-paid-link" href="">View details on HMLR Price Paid Data</a>
                <!-- <details class="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                View more
                            </span>
                        </summary>
                            <div class="govuk-details__text">
                                <b>&pound;105,000</b> on 30 January 2004<br>
                                <b>&pound;98,000</b> on 2 April 2001 (New build)
                            </div>
                        </details> -->
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                General boundaries
                </dt>
                <dd class="govuk-summary-list__value" id="app-title-plan-information">
                  View <a href="00-view-title-plan" id="app-link-from-03">title extent</a> on a map
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key app-house-price-index-authority">
                </dt>
                <dd class="govuk-summary-list__value" id="app-house-price-index-information">
                    <b><span class="app-percentage-index-change"></span></b> since <b> 2016 </b> <br><a class="app-house-price-index-information" href="#">View details on UK House Price Index</a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Planning application
                </dt>
                <dd class="govuk-summary-list__value" id="app-llc-information">
                Registered on <b>20 June 2021</b><br><a href="#">View details on Search for local land charges</a>
                </dd>
            </div>
        </dl>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">
        Things you can and cannot do with the property
      </h2>
        <h3 class="govuk-heading-s"> Easements </h3>
          <p> Easements are rights that the owner of one piece of land has over another piece of land. </p>

          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon app-information-icon" aria-hidden="true">i</span>
              <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Information</span>
                   There are easements recorded in the register - to view details you'll need to pay a fee.         
               </strong>
            </div>

        <h3 class="govuk-heading-s"> Restrictive covenants </h3>
           <p> Restrictive covenants are contracts between two landowners. One landowner promises the other landowner not to carry out particular acts on their land. </p>

              <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon app-information-icon" aria-hidden="true">i</span>
                  <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Information</span>
                       There are no restrictive covenants recorded in the register.
                       There may be some that have not been recorded.
                   </strong>
                </div>

        <p class="govuk-!-font-weight-bold">Keep a copy of the information on this page for free:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li> <a href="print"> print </a>
            <li> <a href="download"> download </a>
            <li> <a href="forward to an email address"> forward to an email address </a>
        </ul>

        <h2 class ="govuk-heading-m"> Need more information? </h2>
              <p> We may have more information about this property if it's been recorded in the register</p>

              <p>You'll need to create an account and pay &pound;3 to view:</p>
                 <ul class="govuk-list govuk-list--bullet">
                   <li>if there's a mortgage and who the lender is</li>
                   <li>contact details for the legal owner</li>
                   <li>details of any other entries recorded in the register</li>
                   <li>the general boundaries (title extent) for leasehold properties</li>
                   <li>a copy of the register</li>
                </ul>

        <!-- <table class="govuk-table">
            <caption class="govuk-table__caption">Fees</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Thing</th>
                    <th class="govuk-table__header" scope="col">Price</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">A</th>
                    <td class="govuk-table__cell">&pound;tbc</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">B</th>
                    <td class="govuk-table__cell">&pound;tbc</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">C</th>
                    <td class="govuk-table__cell">&pound;tbc</td>
                </tr>
            </tbody>
        </table> -->

        <p><a href="04-sign-in" role="button" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8">Continue</a></p>

    <!-- <div class="govuk-grid-column-one-third">
        <img src="" class="app-map">
        <p><a href="00-view-title-plan" id="app-link-from-03">View title plan</a></p>
    </div> -->
</div>
{% endblock %}
