{% extends "layout.html" %}

{% block pageTitle %}
  I need to find property information
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {% if serviceName %} {{ serviceName }} {% endif %}
    </h1>

    <p>Use this service to get information about a property in England and Wales, even if you don't own it.</p>

    <h2 class="govuk-heading-m">Free information</h2>

        <p> You can view: </p>
          <ul class="govuk-list govuk-list--bullet">
              <li>the full address</li>
              <li>price paid history- you won't get this if it was bought before April 2000, if less than £100 was paid or stated, or if HM Land Registry have agreed not to record the price </li>
              <li>general boundaries</li>
              <li>property price trends for the local area</li>
              <li>details of any planning applications</li>
              <li>if there are things you can or cannot do with the property (restrictive covenants and easements)</li>
          </ul>

        <h2 class="govuk-heading-m">Need more information?</h2>
          <p>We may have more information about properties you're searching for if it's been recorded in the register.</p>

          <p> You can get a copy of the title register (£3), copy of the title plan (£3) and a copy of the deeds referred to in the register (£3).</p>

          <p> <a href="000-guidance" class="app-glossary-link app-glossary-link__start"> What do I need? </a> </p>

        <a href="02-postcode-search" role="button" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">Start now</a>

        <h2 class="govuk-heading-m">Before you start</h2>
             <p>For copies of property documents, you'll need: </p>
               <ul class="govuk-list govuk-list--bullet">
               <li>to create an account</li>
               <li>a debit or credit card</li>
    </div>
  </div>
{% endblock %}
