{% extends "layout.html" %}

{% block pageTitle %}
  What do you want to buy?
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">What do you want to buy?</h1>
        </legend>
        <span id="#" class="govuk-hint">Select all that apply</span>
        <div class="govuk-checkboxes">
          <div class="govuk-checkboxes__item app-register-checkbox">
            <input class="govuk-checkboxes__input" id="app-copy-of-register-input" name="cart" type="checkbox" value="register">
            <label class="govuk-label govuk-checkboxes__label" for="app-copy-of-register-input">Copy of the register</label>
          </div>
          <div class="govuk-checkboxes__item app-title-checkbox">
            <input class="govuk-checkboxes__input" id="app-copy-of-title-extent-input" name="cart" type="checkbox" value="title">
            <label class="govuk-label govuk-checkboxes__label" for="app-copy-of-title-extent-input">Copy of the title extent</label>
          </div>
          <div class="govuk-checkboxes__item app-deed-checkbox">
            <input class="govuk-checkboxes__input" id="app-copy-of-deed-input" name="cart" type="checkbox" value="deed">
            <label class="govuk-label govuk-checkboxes__label" for="app-copy-of-deed-input">Copy of the title deeds</label>
          </div>
          
        </div>
      </fieldset>

      
    </div>
    <p><a href="05b-create-account" role="button" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8">Continue</a></p>
    <h2 class="govuk-heading-m">Don't know what you need?</h2>
    <p>If you are unsure as to which document you want, you can read more about them <a href="000-guidance" class="app-glossary-link app-glossary-link__choice">here</a>.</p>


  </div>

</div>

{% endblock %}
