// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

/* Class to hide elements. Remove this class if you want to toggle the visibility, e.g. postcode finder */
.app-hidden {
    display: none;
}

/* Class for postcode list on postcode finder pages */
.app-list__postcode-list {
    /* These are to override the user agent styles for list elements */
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    & li {
        margin-bottom: 0.5em;
    }
}

.app-flex-grid {
    display: flex;
    & .app-flex-grid-header {
        margin-right: 1em;
    }
    & .app-flex-grid-body {
        font-weight: bold;
        font-size: 150%;
    }
}
.app-flex-grid-small {
    display: flex;
    & .app-flex-grid-header {
        margin-right: 1em;
    }
    & .app-flex-grid-body {
        font-weight: bold;
    }
}

.app-doc-grid {
    margin-bottom: 2rem;
    & img {
        margin-right: 1rem;
        height: 100%;
    }
}

.app-download-doc {
    font-size: 27px;
}
.app-font--monospace {
    font-family: monospace;
}

.app-details {
    margin-top: -1em;
}

.app-information-icon {
    background-color: #005ea5;
    border: 3px solid #005ea5;

}

.app-payment-summary-box {
    border: 10px solid #bfc1c3;
    background-color: #f8f8f8;
    padding: 1em;
}

.app-map,
.app-map_large {
    width: 100%;
    height: auto;
    margin-bottom: 1em;
}

.app-related-content {
    border-top: 2px solid $govuk-link-colour;
    padding-top: 15px;
}

.app-doc-image {
    background: #fff;
    outline: 5px solid rgba(11,12,12,0.1);
    box-shadow: 0 2px 2px rgba(11,12,12,0.4);
}

a,
a:visited,
a:hover,
a:active {
    color: #005ea5;
}