// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

/* Class to hide elements. Remove this class if you want to toggle the visibility, e.g. postcode finder */
.app-hidden {
    display: none;
}

/* Class for postcode list on postcode finder pages */
.app-list__postcode-list {
    /* These are to override the user agent styles for list elements */
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    & li {
        margin-bottom: 0.5em;
    }
}

.app-flex-grid {
    display: flex;
    & .app-flex-grid-header {
        margin-right: 1em;
    }
    & .app-flex-grid-body {
        font-weight: bold!important;
        font-size: 150%;
        vertical-align: top;
    }
}
.app-flex-grid-small {
    display: flex;
    & .app-flex-grid-header {
        margin-right: 1em;
    }
    & .app-flex-grid-body {
        font-weight: bold;
    }
}

.app-doc-grid {
    margin-bottom: 2rem;
    & img {
        margin-right: 1rem;
        height: 100%;
    }
}

.app-download-doc {
    font-size: 27px;
}
.app-font--monospace {
    font-family: monospace;
}

.app-details {
    margin-top: -1em;
}
.app-address--unbold{
  font-weight: 0;
}

.app-information-icon {
    background-color: #005ea5;
    border: 3px solid #005ea5;

}

.app-extra-information {
    font-size: 60%;

}

.app-payment-summary-box {
    border: 10px solid #bfc1c3;
    background-color: #f8f8f8;
    padding: 1em;
}

.app-address--bold{
  font-weight: bold;
  font-size: 150%;
}

.app-more-info-panel {
    margin-top: 40px;
    margin-bottom: 20px;
    padding-top: 20px;
    border-top: 2px solid #005ea5;
}

.app-map,
.app-map_large {
    width: 100%;
    height: auto;
    margin-bottom: 1em;
}

.app-related-content {
    border-top: 2px solid $govuk-link-colour;
    padding-top: 15px;
}

.app-doc-image {
    background: #fff;
    outline: 5px solid rgba(11,12,12,0.1);
    box-shadow: 0 2px 2px rgba(11,12,12,0.4);
}

a,
a:visited,
a:hover,
a:active {
    color: #005ea5;
}

.icon-image {
  vertical-align: middle;
  margin: 10px;
}

.links-right {
  float: right;
  color: white !important;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}


.scrollable {
  height: 350px;
  overflow-y: scroll;
  margin-bottom: 20px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}

.govuk-panel--confirmation1 {
  color: #ffffff;
  background: #00703c !important;
}

.toggle_underline{
  border-bottom: 1px solid #d8d8d8;
  width: 50%;
  position: relative;
  left: 150px;
}

.govuk-file-upload {
  font-family: Avenir Next, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  color: #0b0c0c;
}

@media print {
  .govuk-file-upload {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .govuk-file-upload {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .govuk-file-upload {
    font-size: 14pt;
    line-height: 1.15;
  }
}

@media print {
  .govuk-file-upload {
    color: #000000;
  }
}

.govuk-file-upload:focus {
  outline: 3px solid #ffbf47;
  outline-offset: 0;
}

.govuk-file-upload--error {
  border: 4px solid #b10e1e;
}
