{% extends "layout_welsh.html" %}

{% block pageTitle %}
    Mae angen ifi ddod o hyd i wybodaeth am eiddo
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
        Mae angen ifi ddod o hyd i wybodaeth am eiddo
    </h1>

    <p>Defnyddiwch y gwasanaeth hwn i gael gwybodaeth am eiddo yng Nghymru a Lloegr, hyd yn oed os nad ydych yn berchen arno.</p>

    <h2 class="govuk-heading-m">FGwybodaeth am ddim</h2>

        <p>Gallwch weld:</p>
          <ul class="govuk-list govuk-list--bullet">
              <li>y cyfeiriad llawn</li>
              <li>hanes y pris a dalwyd – cewch hwn dim ond os cafodd yr eiddo ei brynu ar ôl Ebrill 2000, os talwyd neu nodwyd mwy na £100 amdano, neu os cofnodwyd y pris gan Gofrestrfa Tir EM</li>
              <li>terfynau cyffredinol</li>
              <li>tueddiadau prisiau eiddo ar gyfer yr ardal leol</li>
              <li>manylion unrhyw geisiadau cynllunio</li>
              <li>a oes pethau y gellir neu na ellir eu gwneud â’r eiddo (cyfamodau cyfyngu a hawddfreintiau)</li>
          </ul>

        <h2 class="govuk-heading-m">Oes angen rhagor o wybodaeth arnoch?</h2>
          <p>Gallwch gael rhagor o wybodaeth am eiddo os yw wedi ei gofnodi yn y gofrestr.</p>

          <p>Gallwch brynu:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>y gofrestr teitl (copi swyddogol)</li>
                <li>y cynllun teitl (copi swyddogol)</li>
                <li>copi o weithredoedd teitl</li>
            </ul>

          <p> <a href="000-guidance" class="app-glossary-link app-glossary-link__start-welsh">Beth gaf fi o’r dogfennau hyn?</a></p>

          <p><b>£3</b> yr un yw’r dogfennau hyn.</p>

        <a href="02-postcode-search" role="button" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">Dechreuwch nawr</a>

        <h2 class="govuk-heading-m">Cyn ichi ddechrau</h2>
             <p>I brynu dogfennau, bydd angen:</p>
               <ul class="govuk-list govuk-list--bullet">
               <li>ichi greu cyfrif</li>
               <li>cerdyn debyd neu gredyd arnoch</li>
    </div>
  </div>
{% endblock %}
