{% extends "layout.html" %}

{% block pageTitle %}
  Log in
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Forgot your password
    </h1>

    <p> We'll email you a link so you can reset your password.

    <div class="govuk-form-group">
      <label class="govuk-label" for="sign-in-email">
        Email address
      </label>
      <input class="govuk-input govuk-!-width-two-thirds" id="sign-in-email" name="sign-in-email" type="text">
    </div>

    <div>
    <p><a href="05d-email-sent" role="button" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8">Continue</a></p>
   </div>

  </div>

</div>

{% endblock %}
