{% extends "layout.html" %}

{% block pageTitle %}
  Log in
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  beta
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Sign in
    </h1>

    <div class="govuk-form-group">
      <label class="govuk-label" for="sign-in-email">
        Email
      </label>
      <input class="govuk-input govuk-!-width-two-thirds" id="sign-in-email" name="sign-in-email" type="text">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="sign-in-password">
        Password
      </label>
      <input class="govuk-input govuk-!-width-two-thirds" id="sign-in-password" name="sign-in-password" type="text">
    </div>
    <p><a href="06-gov-pay" role="button" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-3">Sign in</a></p>
    <h2 class="govuk-heading-m">Problems signing in? </h2>
    <p> <a href="05c-reset-password"> I forgot my password </a> </p>

    <h2 class="govuk-heading-m">Don't have an account?</h2>
    <p> <a href="05b-create-account"> Create an account </a> </p>
   </div>

  </div>

</div>

{% endblock %}
