{% extends "layout.html" %}

{% block pageTitle %}
  Property information
{% endblock %}
{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  beta
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}
    {% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
          Summary of title ABC1234
        </h1>
        <div class="app-flex-grid app-address-display">
            <p class="app-flex-item app-flex-grid-header">Address:</p>
            <p id="app-address-to-display" class="app-flex-item app-flex-grid-body">
            </p>
        </div>
        <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Title number
                    </dt>
                    <dd class="govuk-summary-list__value">
                    <p> ABC1234 </p>
                    </dd>
                  </div>
                  <dt class="govuk-summary-list__key">
                  Tenure type
                  </dt>
                  <dd class="govuk-summary-list__value">
                  Commonhold<br>
                  <details class="govuk-details">
                      <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                              What's leasehold?
                          </span>
                      </summary>
                          <div class="govuk-details__text">
                            <p> Leasehold is one of two ways of owning land (the other is freehold). A leasehold is granted by a landlord to a tentant.</p>
                            <p> a leasehold lasts for a fixed time which will be set out in the lease. The tenant often has to pay rent to the landlord, and this is also set out in the lease</p>.
                            <p> Most flats are leasehold. </p>
                          </div>
                      </details>
                  </dd>
                  <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                          Property sold for
                      </dt>
                      <dd class="govuk-summary-list__value">
                      <span class="app-price-paid-list">
                      </span>
                      </dd>
                  </dl>
              </div>
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                  <p><a href="dummy-link"><img src="../../public/images/print-page.png"alt="save page icon" height="15" class="icon-image">Print this page</a></p>
                  <p><a href="dummy-link"><img src="../../public/images/save-page.png"alt="save page icon" height="15" class="icon-image">Download this page</a></p>        </div>
            </div>
          </div>

    {% endblock %}
