{% extends "layout.html" %}

{% block pageTitle %}
  Property information
{% endblock %}
{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  beta
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Property information
    </h1>
        <div class="app-flex-grid app-address-display">
            <p class="app-flex-item app-flex-grid-header">Address:</p>
            <p id="app-address-to-display" class="app-flex-item app-flex-grid-body">
            </p>
        </div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p>There's <b>1</b> property record (title) for this address.</p>

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Title number
                </dt>
                <dd class="govuk-summary-list__value">
                  ABC1234
                </dd>
              </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Tenure type
                </dt>
                <dd class="govuk-summary-list__value">
                Freehold<br>
                <details class="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            What's freehold?
                        </span>
                    </summary>
                        <div class="govuk-details__text">
                          <p> Leasehold is one of two ways of owning land (the other is freehold). A leasehold is granted by a landlord to a tentant.</p>
                          <p> a leasehold lasts for a fixed time which will be set out in the lease. The tenant often has to pay rent to the landlord, and this is also set out in the lease</p>.
                          <p> Most flats are leasehold. </p>
                        </div>
                    </details>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Property type
                </dt>
                <dd class="govuk-summary-list__value app-property-type">
                    Semi-detached
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Property sold for
                </dt>
                <dd class="govuk-summary-list__value">
                    <div class="app-price-paid-list"></div>
                <a class="app-price-paid-link" href="">View details on HMLR Price Paid Data</a>
                <!-- <details class="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                View more
                            </span>
                        </summary>
                            <div class="govuk-details__text">
                                <b>&pound;105,000</b> on 30 January 2004<br>
                                <b>&pound;98,000</b> on 2 April 2001 (New build)
                            </div>
                        </details> -->
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                General boundaries
                </dt>
                <dd class="govuk-summary-list__value" id="app-title-plan-information">
                    View <a href="00-view-title-plan" id="app-link-from-08">title extent</a> on a map
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Planning application for property
                </dt>
                <dd class="govuk-summary-list__value" id="app-llc-information">
                Registered on <b>20 June 2017</b><br><a href="#">View details on Search for local land charges</a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Lender
                </dt>
                <dd class="govuk-summary-list__value">
                  NatWest
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Owner's contact details
                </dt>
                <dd class="govuk-summary-list__value">
                  Bob Smith<br>
                  <span class="app-address-to-display"></span>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key app-house-price-index-authority">
                  </dt>
                  <dd class="govuk-summary-list__value" id="app-house-price-index-information">
                      <b><span class="app-percentage-index-change"></span></b> since <b> 2016 </b> <br><a class="app-house-price-index-information" href="#">View details on UK House Price Index</a>
                  </dd>
              </div>
    </div>
</div>

<div class="govuk-section-break--l"></div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">
        Legal information
      </h2>
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            HM Land Registry cannot give legal advice. If you need legal advice you'll need to contact a solicitor or conveyancer.
          </strong>
        </div>
          <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                  Restrictive covenants
                  </dt>
                  <dd class="govuk-summary-list__value">
                  There are no restrictive covenants recorded in the register. There may be some that have not been recorded. <br>
                  </dd>
              </div>
              <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                  Easements
                  </dt>
                  <dd class="govuk-summary-list__value">
                    The land has the benefit of any legal easements granted by a Conveyance dated 12 May 1990 made between (1) Harris Brothers (Builders) Limited and (2) Frank Phillips but is subject to any rights that are reserved by the said deed and affect the registered land.

                    Copy Filed.<br>
                    <a href="04-choose-what-to-buy">Download copy of deeds</a>
                 </dd>
              </div>
          </dl>
      </div>
  </div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-!-font-weight-bold">Keep a copy of the information on this page for free:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li> <a href="print"> print this page </a>
            <li> <a href="09a-paid-property-information"> download an official copy </a>
            <li> <a href="forward to an email address"> forward to an email address </a>
        </ul>
</div>
{% endblock %}
