{% extends "layout.html" %}
{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}
{% block pageTitle %}
  Find property information
{% endblock %}
{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  beta
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {% if serviceName %} {{ serviceName }} {% endif %}
    </h1>

    <p>Use this service to search for information about a property in England and Wales, even if you don't own it.</p>
    <!--

    <div class="govuk-inset-text">
      This page is also available in Welsh <a href="01-start_welsh" hreflang="cy">(Cymraeg)</a>
    </div>

    -->

    <h2 class="govuk-heading-m">Free information</h2>

        <p> You can view the: </p>
          <ul class="govuk-list govuk-list--bullet">
              <li>full address</li>
              <LI>tenure type (freehold or leasehold)
              <li>most recent price paid - you'll only get this if it was bought after April 2000, if more than £100 was paid or stated, or if HM Land Registry have recorded the price </li>
          </ul>

        <h2 class="govuk-heading-m">Need more information?</h2>
          <p>You can view the title number for <b>£3</b>.
            <!--
            <p> It includes: </p>
              <ul class="govuk-list govuk-list--bullet">
                <li>the title number</li>
                <li>who owns it </li>
                <li>what they paid for it (properties only, if available)</li>
                <li>any rights of way</li>
                <li>whether the property is freehold or leasehold (known as ‘tenure’) </li>
                <li>the lender’s name and address (if there is a mortgage on the property) </li>
              </ul>
          <p>You can only get more information about a property if it’s in HM Land Registry’s records.</p>
          -->
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
        <a href="02-postcode-search" role="button" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">Start now</a>

        <h2 class="govuk-heading-m">Before you start</h2>
             <p>For the title register, you'll need: </p>
               <ul class="govuk-list govuk-list--bullet">
               <li>to create an account</li>
               <li>a debit or credit card</li>
    </div>
  </div>
{% endblock %}
