{% extends "layout.html" %}

{% block pageTitle %}
  Property information
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Property information
    </h1>
        <div class="app-flex-grid app-address-display">
            <p class="app-flex-item app-flex-grid-header">Address:</p>
            <p id="app-address-to-display" class="app-flex-item app-flex-grid-body">
            </p>
        </div>

        <p> Register address somewhere on here</p>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Title number
              </dt>
              <dd class="govuk-summary-list__value">
              ABC1234
              </dd>
          </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Tenure type
                </dt>
                <dd class="govuk-summary-list__value">
                Freehold<br>
                <details class="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            What's freehold?
                        </span>
                    </summary>
                        <div class="govuk-details__text">
                            <p> You own a freehold property until you sell it, give it away or it otherwise passes to someone else.</p>
                            <p> Most houses are freehold. Most flats are leasehold. That means someone else owns the freehold for the building the flat is in.</p>
                            <p> <b> If you want to know who owns a particular flat, you probably need the leasehold instead. </b> </p>
                            <p> Houses can also be leasehold and usually are if they’re bought through a shared ownership scheme.</p>
                        </div>
                    </details>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Property last sold for
                </dt>
                <dd class="govuk-summary-list__value">
                <span class="app-price-paid-list">
                </span>
                <a class="app-price-paid-link" href="">View details on HMLR Price Paid Data</a>
                </dd>
            </div>
        </dl>

        <div class="govuk-grid-row">
            <div class="govuk-inset-text">
              This information can change if we receive an application. This service can not tell you if there's a pending application with HM Land Registry.
            </div>
          </div>
        </div>

      <!--commented out for MVP
        {% for item in data['cart'] %}
            <h3 class="govuk-heading-s">{{ item }}</h3>
            <div class="app-flex-grid app-doc-grid">
                <img src="/public/images/doc.png" class="app-doc-image">
                <div>
                    <p class="app-download-doc"><a href="">Download {{ item | lower }}</a></p>
                    <p class="govuk-body-s">PDF document</p>
                    <p class="govuk-body-s">This file may not be suitable for users of assistive technology. <a href="">Request an accessible format</a></p>
                </div>
            </div>
            {% if item === 'Title register (official copy)' %}
            <p><a href="09-paid-property-information" class="app-link-variable">View an online copy of the register</a></p>
            {% endif %}
        {% endfor %}
        -->
        <div class="govuk-grid-column-one-third">
            <p><a href="dummy-link">Save this page</a></p>
            <p><a href="dummy-link">Print this page</a></p>
        </div>

<!--
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Need something else?</h2>
          <p> <a href="04-choose-what-to-buy"> Buy another document </a> </p>
          <p> <a href="02-postcode-search"> Search for another property </a> </p>

          -->

       </div>
     </div>

</div>

{% endblock %}
