{% extends "layout.html" %}

{% block pageTitle %}
  Property information
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Property information
    </h1>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <div class="app-flex-grid app-address-display">
            <p class="app-flex-item app-flex-grid-header">Address:</p>
            <p id="app-address-to-display" class="app-flex-item app-flex-grid-body">
            </p>
        </div>

        <p>There's <b>1</b> property record (title) for this address.</p>

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Tenure type
                </dt>
                <dd class="govuk-summary-list__value">
                Freehold<br>
                <details class="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            What's freehold?
                        </span>
                    </summary>
                        <div class="govuk-details__text">
                            <p> You own a freehold building and land outright. It's yours until you sell it or give it away. </p>
                            <p> Most houses are freehold. Most flats are leasehold. That means someone else owns the freehold for the building the flat is in.</p>
                            <p> <b> If you want to know who owns a particular flat, you probably need the leasehold instead. </b> </p>
                            <p> Houses can also be leasehold and usually are if they’re bought through a shared ownership scheme.</p>
                        </div>
                    </details>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Most recent price paid
                </dt>
                <dd class="govuk-summary-list__value">
                This property sold for <b> <span id="app-property-price">&pound;300,000</span> </b> on <b> <span id="app-property-sold-date">15 May 2014</span></b>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Restrictive covenants
                </dt>
                <dd class="govuk-summary-list__value" id="app-covenants-indicator">
                There are restrictive covenants recorded in the register- to view details you'll need to pay a fee
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Easements
                </dt>
                <dd class="govuk-summary-list__value" id="app-easements-indicator">
                There are no easements recorded in the register- to view details you'll need to pay a fee
                </dd>
            </div>
        </dl>

        <p class="govuk-!-font-weight-bold">Keep a copy of the information on this page for free:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li> <a href="print"> print </a>
            <li> <a href="download"> download </a>
            <li> <a href="forward to an email address"> forward to an email address </a>
        </ul>

        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon app-information-icon" aria-hidden="true">i</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Information</span>
                We may have more information about this property if it's been recorded in the register.
            </strong>
        </div>

        <p>You'll need an email address and a debit or credit card to view:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>a summary of the property ownership</li>
            <li>if there's a mortgage and who the lender is</li>
            <li>details of any restrictive covenants- these limit what the owner can legally do with their property </li>
            <li>details of any easements- rights to cross or otherwise use someone else's land for a specified purpose </li>
            <li>the title extent for leasehold properties</li>
            <li>a copy of the register</li>
        </ul>

        <table class="govuk-table">
            <caption class="govuk-table__caption">Fees</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Thing</th>
                    <th class="govuk-table__header" scope="col">Price</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">A</th>
                    <td class="govuk-table__cell">&pound;tbc</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">B</th>
                    <td class="govuk-table__cell">&pound;tbc</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">C</th>
                    <td class="govuk-table__cell">&pound;tbc</td>
                </tr>
            </tbody>
        </table>

        <p><a href="04-email" role="button" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8">Continue</a></p>
    </div>
    <div class="govuk-grid-column-one-third">
        <img src="" class="app-map">
        <p><a href="00-view-title-plan" id="app-link-from-03">View title plan</a></p>
    </div>
</div>
{% endblock %}
