{% extends "layout.html" %}

{% block pageTitle %}
  Property information
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Property details
    </h1>
        <div class="app-flex-grid app-address-display">
            <p class="app-flex-item app-flex-grid-header">Address:</p>
            <p id="app-address-to-display" class="app-flex-item app-flex-grid-body">
            </p>
        </div>
    </div>

    <div class="govuk-grid-column-one-third">
      <ul>
        <p><a href="dummy-link">Save this page</a></p>
         <p><a href="dummy-link">Print this page</a></p>
      </ul>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m"> Need more information?
            </h2>
             <p> You can view the title number for <b> £3 </b>.</p>
      </div>
    </div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <a href="06-gov-pay" role="button" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8">Continue</a>
  </div>
</div>

  </div>



{% endblock %}
