{% extends "layout.html" %}

{% block pageTitle %}
  Property information
{% endblock %}
{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  beta
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}
    {% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
          Property information
        </h1>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                <p class="app-address--unbold">Address</p>
              </dt>
              <dd class="govuk-summary-list__value">
              <p id="app-address-to-display" class="app-address--bold">
              </dd>
            </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Title number
                    </dt>
                    <dd class="govuk-summary-list__value">
                    <p> ABC1234 </p>
                    </dd>
                  </div>
              </dl>
          </div>
            <div class="govuk-grid-row">
                <ul>
                  <p><a href="dummy-link">Save this page</a></p>
                   <p><a href="dummy-link">Print this page</a></p>
                </ul>
                </div>

          </div>
        </div>


    {% endblock %}
