{% extends "layout.html" %}

{% block pageTitle %}
  Title plan
{% endblock %}

{% block content %}
<a href="01-start" class="govuk-back-link app-back-link-from-glossary">Back</a>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div>
        <h1 class="govuk-heading-l"> Property documents </h1>

        <p> Different documents will give you different information. You only need to buy the documents you need. For example, you can choose to buy the title plan and deeds or just the title register.</p>

          <h2 class="govuk-heading-m">Title register (official copy)</h2>
          <p> The title register has details about the property or land. It includes:
            <ul class="govuk-list govuk-list--bullet">
                <li>the title number</li>
                <li>who owns it </li>
                <li>what they paid for it (properties only, if available)</li>
                <li>any rights of way</li>
                <li>whether the property is freehold or leasehold (known as ‘tenure’) </li>
                <li>the lender’s name and address (if there is a mortgage on the property) </li>
                <li>whether a mortgage on it has been ‘discharged’, for example paid off </li>
            </ul>
           <p> You can download PDF or view an online copy of the title register.
               The online version is not an official copy. </p>

           <div class="govuk-section-break--xl"></div>

            <div>
              <h2 class="govuk-heading-m">Title plan (official copy)</h2>
              <p> The title plan is a map showing the: </p>
              <ul class="govuk-list govuk-list--bullet">
                  <li>property’s location</li>
                  <li>general boundaries </li>
              </ul>
              <p> There's usually no record of:
              <ul class="govuk-list govuk-list--bullet">
                  <li>the exact boundary between two properties</li>
                  <li>who owns the hedge, wall, tree or fence between 2 properties </li>
              </ul>
              <p> Some title plans will show other information referred to in the title register. For example rights of way, utilities equipment positions or areas affected by restrictive covenants.</p>
              <p> You can download a PDF of the title plan (official copy). </p>
              <p><a href ="https://www.gov.uk/government/publications/land-registry-plans-title-plan/land-registry-plans-title-plan-practice-guide-40-supplement-5#the-purpose-of-a-title-plan"> Find out more about title plans.</a> </p>
          </div>

          <div class="govuk-section-break--xl"></div>

          <div>
             <h2 class="govuk-heading-m"> Copy of title deeds </h2>
             <p> Copies of the deeds can give you:</p>
             <ul class="govuk-list govuk-list--bullet">
                 <li>current and past information about a registered property, such as its previous owners</li>
                 <li>more details about rights over adjoining land </li>
             </ul>
             <p> You can download a zip folder of the deeds.</p>

             <div class="govuk-inset-text">
               Copies of deeds cannot be used to prove ownership, for example in a court case. Get an official copy of the title register instead.
             </div>
             <a href="01-start" class="govuk-back-link app-back-link-from-glossary">Back</a>
        </div>
    </div>
</div>

{% endblock %}
