{% extends "layout_welsh.html" %}

{% block pageTitle %}
    Mae angen ifi ddod o hyd i wybodaeth am eiddo
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
        Mae angen ifi ddod o hyd i wybodaeth am eiddo
    </h1>

    <p>Defnyddiwch y gwasanaeth hwn i gael gwybodaeth am eiddo yng Nghymru a Lloegr, hyd yn oed os nad ydych yn berchen arno.</p>

    <div class="govuk-inset-text">
      Mae'r dudalen hon ar gael hefyd yn Saesneg <a href="01-start" hreflang="en-GB">(English)</a>
    </div>

        <p>Gallwch weld:</p>
          <ul class="govuk-list govuk-list--bullet">
              <li>y cyfeiriad llawn</li>
              <li>the tenure type (freehold or leasehold)</li>
              <li>most recent price paid – cewch hwn dim ond os cafodd yr eiddo ei brynu ar ôl Ebrill 2000, os talwyd neu nodwyd mwy na £100 amdano, neu os cofnodwyd y pris gan Gofrestrfa Tir EM</li>
          </ul>

        <a href="02-postcode-search" role="button" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">Dechreuwch nawr</a>

    </div>
  </div>
{% endblock %}
