{% extends "layout.html" %}

{% block pageTitle %}
  Search for property
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Search for property
    </h1>
    <div class="govuk-custom-element-to-hide">
      <form class="form" action="#" method="post">

        <div class="govuk-form-group">
          <label class="govuk-label govuk-!-font-weight-bold govuk-!-font-size-24" for="postcode">Enter an address</label>
          <span class="govuk-hint">Enter as much information as you know.</span>

          <div class="govuk-form-group">
            <label class="govuk-label" for="email-account">
              Flat number
            </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="email" name="email" type="email" aria-describedby="email-hint" autocomplete="email" spellcheck="false">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="create-password">
              House number or name
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="create-password" name="create-password" type="text">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="create-password">
              Street address
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="create-password" name="create-password" type="text">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="create-password">
              Town
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="create-password" name="create-password" type="text">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="create-password">
              Postcode
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="create-password" name="create-password" type="text">
          </div>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <input id="app-button__address-search" class="govuk-button" type="submit" value="Search">
     </form>
      <p><a href="02-postcode-search">Search by postcode</a></p>
    </div>



    </div>
  </div>

{% endblock %}
