{% extends "layout.html" %}

{% block pageTitle %}
  Property information
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Property information
    </h1>
        <div class="app-flex-grid app-address-display">
            <p class="app-flex-item app-flex-grid-header">Address:</p>
            <p id="app-address-to-display" class="app-flex-item app-flex-grid-body">
            </p>
        </div>

        <h2 class="govuk-heading-m">
          Documents you've bought:
        </h2>

        {% for item in data['cart'] %}
            <h3 class="govuk-heading-s">{{ item }}</h3>
            <div class="app-flex-grid app-doc-grid">
                <img src="/public/images/doc.png" class="app-doc-image">
                <div>
                    <p class="app-download-doc"><a href="">Download {{ item | lower }}</a></p>
                    <p class="govuk-body-s">PDF document</p>
                    <p class="govuk-body-s">This file may not be suitable for users of assistive technology. <a href="">Request an accessible format</a></p>
                </div>
            </div>
            {% if item === 'Title register (official copy)' %}
            <p><a href="09-paid-property-information" class="app-link-variable">View an online copy of the register</a></p>
            {% endif %}
        {% endfor %}

    
    
    
    
    
        

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Need something else?</h2>
          <p> <a href="04-choose-what-to-buy"> Buy another document </a> </p>
          <p> <a href="02-postcode-search"> Search for another property </a> </p>

       </div>
     </div>

</div>

{% endblock %}
