{% extends "layout.html" %}

{% block pageTitle %}
  Property information
{% endblock %}
{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  beta
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
        <div class="app-flex-grid app-address-display">
            <p class="app-flex-item app-flex-grid-header">Address:</p>
            <p id="app-address-to-display" class="app-flex-item app-flex-grid-body">
            </p>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Tenure type
                </dt>
                <dd class="govuk-summary-list__value">
                Commonhold<br>
                <details class="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            What's commonhold?
                        </span>
                    </summary>
                        <div class="govuk-details__text">
                          <p> Flats or apartment blocks can be commonhold and are different to leasehold flats. </p>
                          <p> If you own the flat you are the freeholder of your own property. </p>
                          <p> You have shared ownership and responsibility for common areas of the property with other residents.</p>
                          <p> You can <a href="https://www.gov.uk/government/publications/commonhold/practice-guide-60-commonhold"> find out more about commonhold.</a> </p>
                        </div>
                    </details>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Property last sold for
                </dt>
                <dd class="govuk-summary-list__value">
                No price recorded <br>
                <details class="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            Why is there no price?
                        </span>
                    </summary>
                        <div class="govuk-details__text">
                        You'll only get a price if:
                        <ul class="govuk-list govuk-list--bullet">
                          <li>the land or property was bought after April 2000 </li>
                          <li>more than £100 was paid or stated </li>
                          <li>HM Land Registry have recorded the price </li>
                        </ul>
                        </div>
                    </details>
                </dd>
            </div>
        </dl>
    </div>
</div>

<div>
    <p><a href="dummy-link">Save this page</a></p>
    <p><a href="dummy-link">Print this page</a></p>
</div>

<div class="govuk-section-break--l"></div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">
         Need more information?
        </h2>
        <p>You can view the title number for <b>£3</b>.

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <a href="06-gov-pay" role="button" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8">Continue</a>
            </div>
          </div>

{% endblock %}
