{% extends "layout.html" %}

{% block pageTitle %}
  Property information
{% endblock %}
{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  beta
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}
    {% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
          Property information
        </h1>
        <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    <p class="app-address--unbold">Address</p>
                  </dt>
                  <dd class="govuk-summary-list__value">
                  <p id="app-address-to-display" class="app-address--bold">
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Title number
                    </dt>
                    <dd class="govuk-summary-list__value">
                    <p> ABC1234 </p>
                    </dd>
                  </div>
                  <dt class="govuk-summary-list__key">
                  Tenure type
                  </dt>
                  <dd class="govuk-summary-list__value">
                  Commonhold<br>
                  <details class="govuk-details">
                      <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                              What's commonhold?
                          </span>
                      </summary>
                          <div class="govuk-details__text">
                            <p> Flats or apartment blocks can be commonhold and are different to leasehold flats. </p>
                            <p> If you own the flat, you're the freeholder of your own property. </p>
                            <p> You have shared ownership and responsibility for common areas of the property with other residents.</p>
                            <p> You can <a href="https://www.gov.uk/government/publications/commonhold/practice-guide-60-commonhold"> find out more about commonhold.</a>
                          </div>
                      </details>
                  </dd>
                  <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                          Property sold for
                      </dt>
                      <dd class="govuk-summary-list__value">
                      <span class="app-price-paid-list">
                      </span>
                      </dd>
                  </dl>
              </div>
              <div>
                  <p><a href="dummy-link">Save this page</a></p>
                  <p><a href="dummy-link">Print this page</a></p>
              </div>
          </div>

    {% endblock %}
