{% extends "layout.html" %}

{% block pageTitle %}
  Property information
{% endblock %}
{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  beta
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Property information
    </h1>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <p class="app-address--unbold">Address</p>
          </dt>
          <dd class="govuk-summary-list__value">
          <p id="app-address-to-display" class="app-address--bold">
          </dd>
        </div>
    </dl>

</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p>There's <b>1</b> property record (title) for this address.</p>
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Tenure type
                </dt>
                <dd class="govuk-summary-list__value">
                Freehold<br>
                <details class="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            What's freehold?
                        </span>
                    </summary>
                        <div class="govuk-details__text">
                            <p> You own a freehold property until you sell it, give it away or it otherwise passes to someone else.</p>
                            <p> Most houses are freehold. Most flats are leasehold. That means someone else owns the freehold for the building the flat is in.</p>
                            <p> <b> If you want to know who owns a particular flat, you probably need the leasehold instead. </b> </p>
                            <p> Houses can also be leasehold and usually are if they’re bought through a shared ownership scheme.</p>
                        </div>
                    </details>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Property last sold for
                </dt>
                <dd class="govuk-summary-list__value">
                <span class="app-price-paid-list">
                </span>
                <a class="app-price-paid-link" href="">View details on HMLR Price Paid Data</a>
                <!-- <details class="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                View more
                            </span>
                        </summary>
                            <div class="govuk-details__text">
                                <b>&pound;105,000</b> on 30 January 2004<br>
                                <b>&pound;98,000</b> on 2 April 2001 (New build)
                            </div>
                        </details> -->
                </dd>
          </div>
        </div>
            <div class="govuk-grid-column-two-thirds">
              <div class="govuk-inset-text">
                This information can change if we receive an application. This service can not tell you if there's an application pending with HM Land Registry. </p>
              </div>
          </div>

{% endblock %}
