{% extends "layout.html" %}

{% block pageTitle %}
  GovPay
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      EMAIL
    </h1>

    <p> You need to give us your email address so that we can contact you if something goes wrong.</p>

    <div class="govuk-form-group">
      <label class="govuk-label" for="event-name">
       Email
      </label>
        <input class="govuk-input" id="event-name" name="event-name" type="text">
    </div>
    <p><a href="05-gov-pay" role="button" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8">Continue</a></p>
  </div>
</div>

{% endblock %}
