{% extends "layout.html" %}

{% block pageTitle %}
  Search for property
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Search for property
    </h1>
    <div class="govuk-custom-element-to-hide">
      <form class="form" action="#" method="post">

        <div class="govuk-form-group">
          <label class="govuk-label govuk-!-font-weight-bold govuk-!-font-size-24" for="postcode">Enter a postcode</label>
          <span class="govuk-hint">For example, 'E16 1NB'</span>

          <input class="govuk-input govuk-input--width-10" id="app-input-postcodeSearch" name="postcode" type="text">
        </div>
        <input id="app-button__postcode-search" class="govuk-button" type="submit" value="Search">

      </form>
    </div>
    <div class="app-element-to-toggle app-hidden app-postcode-list__1">
      <p> 14 addresses found. </p>
      <ul class="app-list__postcode-list">
        <li><a href="03-free-property-information">2 Peel Street</a></li>
        <li><a href="03-free-property-information">4 Peel Street</a></li>
        <li><a href="03-free-property-information">6 Peel Street</a></li>
        <li><a href="03-free-property-information">8 Peel Street</a></li>
        <li><a href="03-free-property-information">10 Peel Street</a></li>
        <li><a href="03-free-property-information">12 Peel Street</a></li>
        <li><a href="03-free-property-information">14 Peel Street</a></li>
        <li><a href="03-free-property-information">16 Peel Street</a></li>
        <li><a href="03-free-property-information">18 Peel Street</a></li>
        <li><a href="03-free-property-information">20 Peel Street</a></li>
        <li><a href="03-free-property-information">22 Peel Street</a></li>
        <li><a href="03-free-property-information">24 Peel Street</a></li>
        <li><a href="03-free-property-information">26 Peel Street</a></li>
        <li><a href="03-free-property-information">28 Peel Street</a></li>
      </ul>
    </div>
    <div class="app-element-to-toggle app-hidden app-postcode-list__2">
      <p> 7 addresses found. </p>
      <ul class="app-list__postcode-list">
        <li><a href="03-free-property-information">1 Clinton Street</a></li>
        <li><a href="03-free-property-information">3 Clinton Street</a></li>
        <li><a href="03-free-property-information">5 Clinton Street</a></li>
        <li><a href="03-free-property-information">7 Clinton Street</a></li>
        <li><a href="03-free-property-information">9 Clinton Street</a></li>
        <li><a href="03-free-property-information">11 Clinton Street</a></li>
        <li><a href="03-free-property-information">13 Clinton Street</a></li>
      </ul>
    </div>
    <div class="app-element-to-toggle app-hidden app-postcode-list__3">
      <p> 10 addresses found. </p>
      <ul class="app-list__postcode-list">
        <li><a href="03-free-property-information">15 Elgin Park</a></li>
        <li><a href="03-free-property-information">17 Elgin Park</a></li>
        <li><a href="03-free-property-information">19 Elgin Park</a></li>
        <li><a href="03-free-property-information">21 Elgin Park</a></li>
        <li><a href="03-free-property-information">23 Elgin Park</a></li>
        <li><a href="03-free-property-information">25 Elgin Park</a></li>
        <li><a href="03-free-property-information">27 Elgin Park</a></li>
        <li><a href="03-free-property-information">29 Elgin Park</a></li>
        <li><a href="03-free-property-information">31 Elgin Park</a></li>
        <li><a href="03-free-property-information">33 Elgin Park</a></li>
      </ul>
    </div>
  </div>

</div>

{% endblock %}
