
{% extends "layout.html" %}

{% block pageTitle %}
  I need to find out about land or property
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        I need to find out about land or property
      </h1>
      <p>
        This is the prototype homepage for "I need to find out about land or property" project at HM Land Registry.
      </p>

      <p>The code for this prototype is in <a href="https://github.com/LandRegistry/I_need_to_find">this repo</a>. (https://github.com/LandRegistry/I_need_to_find)</p>

      <h2 class="govuk-heading-m">Version history</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
        <h3 class="govuk-heading-m">Version 1</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>Set up clickable proto v1</li>
            <li>....</li>
            <li>....</li>
            <li>
              <h3 class="govuk-heading-m">Version 0</h3>
              <ul class="govuk-list govuk-list--bullet">
                <li>Local install</li>
                <li><code>config.js</code> update</li>
                <li>Git setup</li>
          </ul>
        </li>
      </ul>
    </div>
</div>

{% endblock %}
