
{% extends "layout.html" %}

{% block pageTitle %}
  I need to find out about land or property
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        I need to find out about land or property
      </h1>
      <p>
        This is the prototype homepage for "I need to find out about land or property" project at HM Land Registry.
      </p>

      <p>The code for this prototype is in <a href="https://github.com/LandRegistry/I_need_to_find">this repo</a>. (https://github.com/LandRegistry/I_need_to_find)</p>

      <h2 class="govuk-heading-m">Version history</h2>
      <ul class="govuk-list govuk-list--bullet">
        <h3 class="govuk-heading-m">Version 0</h3>
          <p>Prototype set up</p>

        <h3 class="govuk-heading-m">Version 1</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/v1/01-start">29-03-2019</a>
              <ul class="govuk-list govuk-list--bullet">
                <li>Skeleton pages for the initial journey</li>
                <li>Content updated based on <a href="https://drive.google.com/open?id=1blFLMj9hDpMJelGGtFPs-MiZlTEBICOO">initial wireframes</a> and week 1 user testing feedback</li>
              </ul>
            </li>
          </ul>
        <h3 class="govuk-heading-m">Version 2</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/v2/01-start">08-04-2019</a>
              <ul class="govuk-list govuk-list--bullet">
                <li>Content updated based on <a href="https://docs.google.com/presentation/d/1vdOOuywt71H0rZqcWaMp9UiE0DZ6_MFJnMj5dO7ZNe0/edit#slide=id.g554c596ad6_0_0">week 2 user testing feedback </a></li>
                <li> <a href="https://drive.google.com/drive/folders/1gzt_b39GL-0iBETAw93cO-FSaIxQNIZf">Options for introducing easement and restrictive covenant indicators </a>
                <li> <a href="https://docs.google.com/document/d/1cRuCC6EwW8OhhA7pcihMlPvkzmDWDsNGB8HpSPAa8j0/edit">Outline of changes</a> made to prototype- what we've done, why we've done it, what we're testing </li>
              </ul>
            </li>
         </ul>
    </div>
</div>

{% endblock %}
